@use "../abstracts/" as *;

footer {
  padding-block-start: $size-4;
  padding-block-end: $size-4;
  background: $color-accent-000;
  position: relative;

  @include mq(medium) {
    position: absolute;
    width: 100%;
    top: 98rem;
    height: 450px;
    z-index: -1;
    .copy {
      margin-top: 0;
    }
  }
  @include mq(large) {
    position: absolute;
    width: 100%;
    top: 79rem;
    height: 464px;
    z-index: -1;
  }

  p {
    text-align: center;
  }

  ul {
    li {
      margin-inline: 1rem;
    }
  }
}
