@use "../abstracts/" as *;
.button {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: $font-size-100;
  font-weight: $fw-bold;
  padding: $size-0-5 $size-1;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
  &[data-type="primary"] {
    background-color: $color-primary-900;
    color: $color-neutral-000;
  }
  &[data-type="secondary"] {
    color: $color-primary-900;
    border: 1px solid $color-primary-900;
    z-index: 1;
  }
}
.button[data-type="secondary"]:hover {
  background-color: $color-primary-900;
  color: $color-neutral-000;
}
.button[data-type="primary"]:hover {
  color: $color-neutral-000;
  background: linear-gradient(
    150deg,
    $color-accent-300 0%,
    $color-accent-400 50%,
    $color-accent-500 100%
  );
}
