$sizes: (
  0: 0.75rem,
  0-5: 1rem,
  1: 1.5rem,
  2: 2.5rem,
  3: 3.125rem,
  4: 3.5rem,
  5: 4.188rem,
  6: 4.5rem,
  7: 5rem,
  8: 5.5rem,
  9: 5.938rem,
  95: 6.438rem,
  10: 9rem,
  // 1: 5.938rem,
);

$size-0: 0.75rem;
$size-0-5: 1rem;
$size-1: 1.5rem;
$size-2: 2.5rem;
$size-3: 3.125rem;
$size-4: 3.5rem;
$size-5: 4.188rem;
$size-6: 4.5rem;
$size-7: 5rem;
$size-8: 5.5rem;
$size-9: 5.938rem;
$size-95: 6.438rem;
$size-10: 9rem;
